.addDay .addTap {
  font-size: 13px;
  color: #c942b3;
  background: #fffcf5;
  padding: .16rem .24rem;
  line-height: .39rem;
}
.addDay .inputTap {
  line-height: 1.21rem;
  padding: 0 .24rem;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
.addDay .inputTap .btns {
  display: inline-block;
  font-size: 0;
  float: right;
  margin-top: .15rem;
  vertical-align: middle;
}
.addDay .inputTap .btns span {
  display: inline-block;
}
.addDay .inputTap .btns .btn {
  width: .36rem;
  height: .36rem;
  line-height: .3rem;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 3px;
}
.addDay .inputTap .btns .btn.le {
  border: 2px solid #c942b3;
  background: url("/static/images/minue.png") #ffffff;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
}
.addDay .inputTap .btns .btn.re {
  border: 2px solid #c942b3;
  background: url("/static/images/addbtn.png") #c942b3;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
}
.addDay .inputTap .btns .t3 {
  width: 1rem;
  line-height: .36rem;
  font-size: 15px;
  display: inline-block;
  text-align: center;
  vertical-align: 5px;
}
.addDay .pay {
  width: 80%;
  background: #c942b3;
  color: #ffffff;
  line-height: .93rem;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  margin-top: .5rem;
}
