.logistics .top {
  overflow: hidden;
  padding: .23rem;
  border-bottom: .2rem solid #f2f2f2;
  margin-bottom: .4rem;
}
.logistics .top img {
  float: left;
  width: 1.2rem;
  height: 1.2rem;
}
.logistics .top .wz {
  padding-left: 1.5rem;
  font-size: 13px;
  line-height: .39rem;
}
.logistics .logisticsList .logisticsItme {
  padding: 0 .24rem;
  display: flex;
  margin-bottom: .57rem;
}
.logistics .logisticsList .logisticsItme:first-child .time:before {
  display: none;
}
.logistics .logisticsList .logisticsItme .le {
  flex: 0 0 2.4rem;
  line-height: 1;
  text-align: center;
}
.logistics .logisticsList .logisticsItme .le .time {
  font-size: 15px;
  color: #333333;
  margin-bottom: .19rem;
  margin-top: .25rem;
  position: relative;
}
.logistics .logisticsList .logisticsItme .le .time:before {
  content: '';
  width: 1px;
  height: .8rem;
  background: #cccccc;
  position: absolute;
  left: 50%;
  top: -1rem;
}
.logistics .logisticsList .logisticsItme .le .date {
  font-size: 13px;
  color: #999999;
}
.logistics .logisticsList .logisticsItme .re {
  line-height: .47rem;
  padding-left: .3rem;
  flex: 1;
}
