.orderDetail .lastTime {
  height: 1.7rem;
  background: #c942b3;
  color: #ffffff;
  padding-top: .41rem;
  padding-left: .23rem;
  line-height: 1;
}
.orderDetail .lastTime .title {
  font-size: 19px;
  margin-bottom: .3rem;
  font-weight: 600;
}
.orderDetail .lastTime .lastDate {
  font-size: 14px;
}
.orderDetail .sendInfo {
  padding: .4rem .23rem .4rem .24rem;
  border-bottom: .2rem solid #f2f2f2;
}
.orderDetail .sendInfo .title {
  font-size: 15px;
  color: #333333;
  margin-bottom: .21rem;
  line-height: 1;
  font-weight: 600;
}
.orderDetail .sendInfo .ortherP {
  font-size: 13px;
  line-height: .44rem;
}
.orderDetail .sendInfo .lookwl {
  width: 1.6rem;
  line-height: .5rem;
  text-align: center;
  display: block;
  font-size: 13px;
  color: #ffffff;
  background: #c942b3;
  border-radius: 5px;
}
.orderDetail .allPic {
  padding: .24rem;
  padding-top: 0;
  border: 1px solid #e6e6e6;
}
.orderDetail .allPic .title {
  line-height: .9rem;
  font-size: .15rem;
}
.orderDetail .allPic img {
  width: 100%;
  height: auto;
}
.orderDetail .orderCommList {
  padding: 0 .23rem;
  border-bottom: 1px solid #e6e6e6;
}
.orderDetail .orderCommList :last-child .equipmentInfo {
  border-bottom: none!important;
}
.orderDetail .orderCommList .orderCommItem .commInfo {
  overflow: hidden;
  padding: .4rem 0;
}
.orderDetail .orderCommList .orderCommItem .commInfo img {
  width: 1.6rem;
  height: 1.6rem;
  float: left;
}
.orderDetail .orderCommList .orderCommItem .commInfo .txt {
  line-height: 1;
  padding-left: 1.9rem;
}
.orderDetail .orderCommList .orderCommItem .commInfo .txt .title {
  margin-bottom: .3rem;
  font-size: 15px;
}
.orderDetail .orderCommList .orderCommItem .commInfo .txt .t1 {
  font-size: 11px;
  color: #999999;
  margin-bottom: .2rem;
}
.orderDetail .orderCommList .orderCommItem .equipmentInfo {
  padding-bottom: .3rem;
  border-bottom: 1px solid #e6e6e6;
}
.orderDetail .orderCommList .orderCommItem .equipmentInfo .equipmentInner {
  background: #fffcf5;
  padding: .21rem;
  overflow: hidden;
}
.orderDetail .orderCommList .orderCommItem .equipmentInfo .equipmentInner .num {
  font-size: 13px;
  color: #c942b3;
  line-height: .85rem;
}
.orderDetail .orderCommList .orderCommItem .equipmentInfo .equipmentInner .title {
  font-size: 15px;
  color: #333333;
}
.orderDetail .orderCommList .orderCommItem .equipmentInfo .equipmentInner .des {
  font-size: 13px;
  color: #999999;
  line-height: .4rem;
  padding: .14rem 0;
}
.orderDetail .orderCommList .orderCommItem .equipmentInfo .equipmentInner .imgs img {
  width: 1.2rem;
  height: 1.2rem;
  float: left;
  margin-left: .1rem;
  margin-bottom: .1rem;
}
.orderDetail .p23 {
  padding: .23rem;
}
.orderDetail .padding0 {
  padding-bottom: 0;
}
.orderDetail .borderb2 {
  border-bottom: .2rem solid #f2f2f2;
}
.orderDetail .infoTop {
  display: flex;
  min-height: 2rem;
  overflow: hidden;
  border-bottom: 1px dashed #e6e6e6;
}
.orderDetail .infoTop .kdj {
  padding-top: .7rem!important;
}
.orderDetail .infoTop .kdj .title {
  line-height: 1;
  color: #999999;
  font-size: 11px;
}
.orderDetail .infoTop .kdj .date {
  color: #333333;
  font-size: 13px;
  margin-top: .2rem;
}
.orderDetail .infoTop .kdj .day {
  font-size: 14px;
  color: #ffc62b;
  text-align: center;
  margin-top: .1rem;
}
.orderDetail .infoTop .middle {
  flex: 0 0 1.89rem;
  padding: .1rem 0;
  background-image: url("/static/images/middl.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.orderDetail .infoTop .middle .title {
  text-align: center;
}
.orderDetail .infoTop .middle p {
  padding-left: 6%;
}
.orderDetail .infoTop .le {
  flex: 1;
}
.orderDetail .infoTop .re {
  flex: 1;
  text-align: right;
}
.orderDetail .allNum {
  font-size: 15px;
  line-height: .88rem;
}
.orderDetail .allNum .red {
  color: #ffc62b;
}
.orderDetail .orderInfo {
  padding: .4rem .3rem;
  line-height: 1;
  padding-bottom: 0;
}
.orderDetail .orderInfo .wz1 {
  font-size: 15px;
  color: #999999;
  margin-bottom: .3rem;
}
.orderDetail .orderInfo .wz2 {
  font-size: 11px;
  color: #c942b3;
  margin-bottom: .43rem;
}
.orderDetail .adminInfo {
  padding: .4rem .3rem;
}
.orderDetail .adminInfo .title {
  font-size: 15px;
  color: #333;
  margin-bottom: .2rem;
}
.orderDetail .adminInfo .wz1 {
  font-size: 15px;
  color: #999999;
  line-height: .44rem;
}
.orderDetail .aboutInfo {
  border-bottom: 3rem solid #f2f2f2;
}
.orderDetail .aboutInfo a {
  font-size: 15px;
  color: #999999;
  text-decoration: underline;
  margin-right: .1rem;
  margin-bottom: .1rem;
}
.orderDetail .bottom {
  height: 1.2rem;
  box-shadow: 10px 10px 26px rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ffffff;
}
.orderDetail .bottom .btn {
  width: 2.23rem;
  line-height: .72rem;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  display: block;
  float: right;
  margin-top: .25rem;
  margin-right: .24rem;
}
.orderDetail .bottom .btn.cancel {
  background: #b7b3bc;
}
.orderDetail .bottom .btn.gopay {
  background: #c942b3;
}
